<div class="content-box-wrapper default-content-box-color">
  <div class="reservation-add-edit-wrapper">
    <div class="reservation-add-edit-input">
        <input type="text" placeholder="Contact Name ..."/>
    </div>
    <div class="reservation-add-edit-input">
      <input type="text" placeholder="Contact Type"/>
    </div>
    <div class="reservation-add-edit-input">
      <input type="text" placeholder="Phone"/>
    </div>
    <div class="reservation-add-edit-input">
      <input type="text" placeholder="Birth Date"/>
    </div>
  </div>
</div>
