<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div style="display: flex">
    <div class="flex-no-item"></div>
    <div class="flex-item">
        <div class="content-box-wrapper default-content-box-color">
            <div class="reservation-add-edit-content">
                <div class="reservation-add-edit-content-item">
                    <input 
                        formControlName="contactName" 
                        placeholder="Contact Name ..." 
                        [ngClass]="{'is-invalid': error && contactName.invalid}" 
                        [typeahead]="contacts" 
                        class="form-control"
                        [attr.disabled]="disableContactFields ? '' : null"
                        [(ngModel)]="reservation.contact.name">
                    <i class="fa fa-user-circle"></i>
                </div>
                <div class="reservation-add-edit-content-item">
                    <div class="form-group">
                        <div style="position:relative;">
                          <select 
                            class="form-control"
                            formControlName="contactType" 
                            (change)="onContactTypeChange($event.target.value)"
                            [ngClass]="{'is-invalid': error && contactType.invalid}" 
                            [attr.disabled]="disableContactFields ? '' : null"
                            style="color: gray">
                            <option [selected]="!reservation.contact.type" disabled value="Contact Type">Contact Type</option>
                            <option 
                                *ngFor="let contactType of contactTypes; let i = index" 
                                [selected]="contactType.id === reservation.contact.type" 
                                [value]=i >
                                {{contactType.name}}
                            </option>
                          </select>
                          <i class="fa fa-globe"></i>
                        </div>
                    </div>
                </div>
                <div class="reservation-add-edit-content-item">
                    <input 
                        formControlName="phoneNumber" 
                        type="text" class="form-control" 
                        placeholder="Phone" 
                        aria-describedby="basic-addon1"
                        [attr.disabled]="disableContactFields ? '' : null"
                        [(ngModel)]="reservation.contact.phoneNumber">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="reservation-add-edit-content-item">
                    <input 
                        formControlName="dateOfBirth" 
                        [ngClass]="{'is-invalid': error && dateOfBirth.invalid}" 
                        type="text" placeholder="Birth Date" 
                        class="form-control" 
                        bsDatepicker
                        [attr.disabled]="disableContactFields ? '' : null"
                        [(ngModel)]="reservation.contact.dateOfBirth">
                    <i class="fa fa-calendar"></i>
                </div>
            </div>  
        </div>
    </div>
    <div class="flex-no-item"></div>
    </div>

    <br />

    <div style="display: flex">
        <div class="flex-no-item"></div>
        <div class="flex-item">
            <app-ngx-editor 
                [placeholder]="'Enter text here...'" 
                [spellcheck]="true" 
                formControlName="htmlContent"
                [(ngModel)]="reservation.htmlContent">
            </app-ngx-editor>
        </div>
        <div class="flex-no-item"></div>
    </div>

    <br />

    <div style="display: flex">
        <div class="flex-no-item"></div>
        <div class="flex-item" style="text-align:right">
            <div class="alert alert-danger" style="text-align:center" *ngIf="error">
                <strong>Error!</strong> Input fields are invalid!
            </div>
            <button class="btn btn-red" type="submit">SEND</button>
        </div>
        <div class="flex-no-item"></div>
    </div>

    <br />
</form>