<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div style="display: flex">
    <div class="flex-no-item"></div>
    <div class="flex-item">
        <div class="content-box-wrapper default-content-box-color">
            <div class="reservation-add-edit-content">
                <div class="reservation-add-edit-content-item">
                    <input formControlName="contactName" type="text" class="form-control" placeholder="Contact Name ..." aria-label="Username" aria-describedby="basic-addon1">
                    <i class="fa fa-user-circle"></i>
                </div>
                <div class="reservation-add-edit-content-item">
                    <input formControlName="contactType" type="text" class="form-control" placeholder="Contact Type" aria-label="Username" aria-describedby="basic-addon1">
                    <i class="fa fa-globe"></i>
                </div>
                <div class="reservation-add-edit-content-item">
                    <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Phone" aria-label="Username" aria-describedby="basic-addon1">
                    <i class="fa fa-phone"></i>
                </div>
                <div class="reservation-add-edit-content-item">
                    <input formControlName="dateOfBirth" type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
                    <i class="fa fa-calendar"></i>
                </div>
            </div>  
        </div>
    </div>
    <div class="flex-no-item"></div>
    </div>

    <br />

    <div style="display: flex">
        <div class="flex-no-item"></div>
        <div class="flex-item">
            <app-ngx-editor 
                [placeholder]="'Enter text here...'" 
                [spellcheck]="true" 
                formControlName="htmlContent">
            </app-ngx-editor>
        </div>
        <div class="flex-no-item"></div>
    </div>

    <br />

    <div style="display: flex">
        <div class="flex-no-item"></div>
        <div class="flex-item" style="text-align:right">
            <div class="alert alert-danger" style="text-align:center" *ngIf="error">
                <strong>Error!</strong> Input fields are invalid!
            </div>
            <button class="btn btn-red" type="submit">SEND</button>
        </div>
        <div class="flex-no-item"></div>
    </div>

    <br />
</form>