.content-box-wrapper {
    padding: 5px;
}

.reservation-add-edit-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.reservation-add-edit-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

.reservation-add-edit-content-item {
    padding: 1px;
    width: 20%;
    flex-grow: 1;
    position: relative;
}

.reservation-add-edit-content-item input, select {
    height: 62px;
    padding-left: 58px;
}

.fa {
    font-size: 40px;
    color: #00000029;
    position: absolute;
    top: 11px;
    left: 12px;
}

:host app-ngx-editor /deep/ .ngx-editor-textarea {
    height:300px !important;
    background: white !important;
}

@media only screen and (max-width: 930px) {
    .reservation-add-edit-content {
        display: flex;
        flex-direction: column;
    }
    .reservation-add-edit-content-item {
        padding: 1px;
        width: 100%;
        flex-grow: 1;
    }
}

.disable-reservation-contact-form {
    pointer-events: none;
}

