<div style="display: flex;">
  <div class="flex-no-item"></div>
  <div class="flex-item">
    <div class="content-box-wrapper default-content-box-color">
        <div class="reservations-list-row" style="background:#EEEEEE">
          <div class="form-group">
            <div style="position:relative;">
              <select class="form-control sort-types" (change)="onChange($event.target.value)">
                <option selected disabled value="Sort by">Sort by</option>
                <option *ngFor="let sort of sortTypes; let i = index" [value]="i">{{sort}}</option>
              </select>
              <i class="fa fa-sort-amount-asc"></i>
            </div>
          </div>
        </div>
        <div 
          class="reservations-list-row" 
          *ngFor="let reservation of reservations">
            <div class="flex-item-5 reservations-list-item">
              <img width="50px" height="50px" src="https://image.freepik.com/free-icon/linux-penguin_318-53972.jpg" />
            </div>
            <div class="flex-item-23 reservations-list-item align-left">
              <p style="font-size: 25px">{{reservation.contact.name}}</p>
              <p>{{formatTimestamp(reservation.dateOfCreation)}}</p>
            </div>
            <div class="flex-item-23 reservations-list-item align-left">
              <p style="font-size: 20px">Rankig</p>
              <rating class="align-left" style="font-size:24px;" [(ngModel)]="reservation.ranking" [max]="5" [readonly]="isReadonly"
               (click)="onRankChange(reservation)"></rating>
            </div>
            <div class="flex-item-23 reservations-list-item">
              <p style="font-size: 20px">Add Favorite 
                <i style="cursor: pointer;" class="fa fa-gratipay" (click)="onFavoriteChange(reservation)" [ngClass]="reservation.favorite ? 'favorite': 'not-favorite'"></i>
              </p>
            </div>
            <div class="flex-item-23 reservations-list-item align-right">
              <button (click)="edit(reservation)" type="button" class="btn btn-gray">
                EDIT
              </button>
            </div>
        </div>
        <br />
        <pagination [totalItems]="11"></pagination>
      </div>
  </div>
  <div class="flex-no-item"></div>
</div>
