<div class="content-box-wrapper default-content-box-color">
  <div class="reservations-list-row">
    <div class="reservations-list-item" *ngFor="let header of headers">
      <p><b>{{header}}</b></p>
    </div>
  </div>
  <div 
    class="reservations-list-row" 
    *ngFor="let reservation of reservations; let i = index">
      <div class="reservations-list-item" *ngFor="let key of reservationObjectKeys">
        <p>{{reservation[key]}}</p>
      </div>
      <div class="reservations-list-item">
        <button type="button" class="btn btn-gray">
          EDIT
        </button>
      </div>
  </div>
  <br />
  <pagination [totalItems]="11"></pagination>
</div>