.reservations-list-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #BCBCBC;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reservations-list-item {
    width: 16%;
    flex-grow: 1;
    text-align: center;
    background: #BCBCBC;
    padding-top: 10px;
    padding-bottom: 10px;
}

.reservations-list-item p {
    margin-block-start: 0;
    margin-block-end: 0;
}