<div style="display: flex;">
  <div class="flex-no-item"></div>
  <div class="flex-item">
    <div class="content-box-wrapper default-content-box-color">
        <div class="reservations-list-row" style="background:#EEEEEE">
          <div class="btn-group" dropdown>
            <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle"
                    aria-controls="dropdown-basic">
              {{sortBy}} <span class="caret"></span>
            </button>
            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                role="menu" aria-labelledby="button-basic">
              <li *ngFor="let sort of sortTypes" (click)="onSortChange(sort)" role="menuitem"><a class="dropdown-item">{{sort}}</a></li>
            </ul>
          </div>
      </div>
        <div 
          class="reservations-list-row" 
          *ngFor="let reservation of reservations">
            <div class="flex-item-5 reservations-list-item">
              <img width="50px" height="50px" src="https://image.freepik.com/free-icon/linux-penguin_318-53972.jpg" />
            </div>
            <div class="flex-item-23 reservations-list-item align-left">
              <p style="font-size: 25px">{{reservation.contactName}}</p>
              <p>{{reservation.reservationDate}}</p>
            </div>
            <div class="flex-item-23 reservations-list-item align-left">
              <p style="font-size: 20px">Rankig</p>
              <rating class="align-left" style="font-size:24px;" [(ngModel)]="reservation.ranking" [max]="5" [readonly]="isReadonly"
              (keyup)="confirmSelection($event)"></rating>
            </div>
            <div class="flex-item-23 reservations-list-item">
              <p style="font-size: 20px">Add Favorite</p>
            </div>
            <div class="flex-item-23 reservations-list-item align-right">
              <button type="button" class="btn btn-gray">
                EDIT
              </button>
            </div>
        </div>
        <br />
        <pagination [totalItems]="11"></pagination>
      </div>
  </div>
  <div class="flex-no-item"></div>
</div>
