.banner {
    display: flex;
    background: black;
}

.banner-title {
    font-size: 45px;
    color: white;
}

.banner-text p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    padding-left: 10px;
}

.flex-no-item {
    width: 10%;
}

.flex-item {
    width: 80%;
    flex-grow: 1;
}

.banner-content {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-items {
    display: flex;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-content-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-content-item .red-text {
    font-size: 24px;
}

.nav-content p {
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-content {
    display: flex;
    padding-top: 20px;
}