<header class="banner">
    <div class="flex-no-item"></div>
    <div class="flex-item banner-content">
        <div class="banner-title">
            <p><b>ISU</b>Corp</p>
        </div>
        <div class="banner-text">
            <p >World Class</p>
            <p>Software Development</p>
        </div>
    </div>
    <div class="flex-no-item"></div>
</header>

<nav class="nav-items default-content-box-color">
    <div class="flex-no-item"></div>
    <div class="flex-item nav-content">
        <div class="nav-content-item">
            <p class="red-text">Reservation list</p>
        </div>
        <div class="nav-content-item">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut</p>
        </div>
        <div class="nav-content-item">
            <button
                class="btn btn-gray"
                *ngIf="createReservationButtonActive" 
                (click)="goToAddEditReservationForm()">
                CREATE RESERVATION
            </button>
            <button
                class="btn btn-gray"
                *ngIf="!createReservationButtonActive"
                (click)="goToListAllReservations()">
                LIST ALL RESERVATIONS
            </button>
        </div>
    </div>
    <div class="flex-no-item"></div>
</nav>

<br />

<router-outlet></router-outlet>
