.banner {
    display: flex;
    background-image: url("https://wallpaper-house.com/data/out/10/wallpaper2you_386447.jpg");
}

.banner-title {
    font-size: 45px;
    color: white;
}

.banner-title p {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner-text p {
    margin-block-start: 0;
    margin-block-end: 0;
    color: white;
    padding-left: 10px;
}

.banner-content {
    display: flex;
    justify-content: left;
    align-items: center;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.nav-items {
    display: flex;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

.nav-content-item {
    padding-top: 30px;
    padding-bottom: 30px;
}

.nav-content-item .red-text {
    font-size: 24px;
}

.nav-content p {
    margin-block-start: 0;
    margin-block-end: 0;
}