/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    background: #BCBCBC;
}

.red-text {
    color: red;
}

.default-content-box-color {
    background: #EEEEEE;
}

.content-box-wrapper {
    padding: 20px;
}

.flex-no-item {
    width: 10%;
}

.flex-item {
    width: 80%;
    flex-grow: 1;
}

.btn-gray {
    border-radius: 0;
    background: gray;
    color: white;
    padding: 9px 33px;
}

.btn-red {
    border-radius: 0;
    background: rgb(179, 48, 48);
    color: white;
    padding: 9px 33px;
}

.btn-gray:focus {
    box-shadow: 0 0 0 0.2rem #939292;
}